@import "variables";
@import "mixins";

.header {
  display: flex;
  justify-content: space-between;
  color: $text-color-primary;
  padding: 20px 30px;
  position: sticky;
  top: 0;
  background-color: $background-color-primary;
  z-index: 100;
  &__logo-link,
  &__menu-list {
    display: flex;
  }
  &__logo-text {
    text-transform: uppercase;
    @include font-primary(600, 16px);
    margin-left: 10px;
    letter-spacing: 3.2px;
  }
  &__menu-item {
    display: block;
    margin-left: 30px;
    @include font-primary(400, 14px);
    &:hover {
      color: $color-primary;
    }
  }
  
}
