<section class="banner main-container" id="banner">
    <div class="banner__content">
        <h1 class="banner__content-title">Test assignment for Frontend Developer position</h1>
        <p class="banner__content-text">
            We kindly remind you that your test assignment should be submitted as a link to github/bitbucket repository.
            Please be patient, we consider and respond to every application that meets minimum requirements. We look
            forward to your submission. Good luck! The photo has to scale in the banner area on the different screens
        </p>
        <button class="button">Sign up now</button>
    </div>
</section>