@font-face {
  font-family: "Open Sans";
  src: url(../assets/fonts/Open_Sans/OpenSans-Regular.ttf) format("truetype"),
    url(../assets/fonts/Open_Sans/OpenSans-Regular.woff) format("woff"),
    url(../assets/fonts/Open_Sans/OpenSans-Regular.woff2) format("woff2");
}

@font-face {
  font-family: "Open Sans SemiBold";
  src: url(../assets/fonts/Open_Sans/OpenSans-SemiBold.ttf) format("truetype"),
    url(../assets/fonts/Open_Sans/OpenSans-SemiBold.woff) format("woff"),
    url(../assets/fonts/Open_Sans/OpenSans-SemiBold.woff2) format("woff2");
}

@font-face {
  font-family: "PT Sans";
  src: url(../assets/fonts/PT_Sans/PTSans-Regular.ttf) format("truetype"),
    url(../assets/fonts/PT_Sans/PTSans-Regular.woff) format("woff"),
    url(../assets/fonts/PT_Sans/PTSans-Regular.woff2) format("woff2");
}
