$text-color-primary: #212529;
$text-color-secondary: #4c4b4b;
$text-color-light: #fefefe;

$background-color-primary: #ffffff;
$background-color-secondary: #f9f9f3;

$color-primary: #ef5b4c;
$color-primary-active: #d24335;
$color-primary-blur: #ef5c4c59;
$color-primary-disabled: #ff8a7d;

$color-secondary: #007bff;
$color-secondary-blur: #007bff59;

$color-success: #4ed249;
$color-success-blur: #00ff2a59;